body{
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
    padding-right: 200px ;
}

header,footer{
    background-color: black;
    color: #dddddd;
    padding: 20px;
}
footer{
    font-style: oblique;
}
section{
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}
article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 5px;
}
