.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
    box-sizing: border-box;
    margin: 0;
}

[class*='col-']{
    float: left;
    padding: 5px;
}
.row:after{
    clear: both;
    display: block;
    content: '';
}
.header{
    background: #D3D3D3;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-style: italic;
    font-family: monospace;
    font-size: 30px;
}
.header span{
    background-color: #770000;
    border-radius: 10px;
    color: white;
}
.header span i{
    color: yellow;
}
.header-content{
    margin: 5px;
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.content{
    margin: 0 10px;
}
.row1 p{
    font-weight: bold;
}
.row1 p span{
    font-style: italic;
    font-size: 10px;
}
.row{
    margin-bottom: 20px;
}
.rowfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 30px;
    position: sticky;
    bottom: 0;
}


