<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List student</title>
</head>
<body>
<!--~ fragment-->
<!--insert, include và replace-->
<div th:insert="~{student/common_student :: headerStudent}">
</div>
<h2>List student talk</h2>
<table border="1">
    <tr>
        <th>No</th>
        <th>Id</th>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>Rank</th>
        <th>Class room</th>
    </tr>
    <tr th:each="studentObj,loop : ${studentTalkList}">
        <td th:text="${loop.index + 1}"></td>
        <td th:text="${studentObj.id}"></td>
        <td th:text="${studentObj.name}"></td>
        <td th:text="${studentObj.dateOfBirth}"></td>
        <td th:switch="${studentObj.gender}">
            <span th:case="0">Female</span>
            <span th:case="1">Male</span>
            <span th:case="*">None</span>
        </td>

        <td>
            <span th:if="${studentObj.grade <= 4}">Bad</span>
            <span th:if="${studentObj.grade > 4 && studentObj.grade <= 7}">Good</span>
            <span th:if="${studentObj.grade > 7}">Ver good</span>
        </td>
        <td th:text="${studentObj.classRoom.nameClass}"></td>
        <!--            @ sử dụng cho đường dẫn URL -> Giúp sử dụng các biểu thức khác trong URL-->
    </tr>
</table>

<div th:replace="~{student/common_student :: footerStudent}">
</div>
</body>
</html>
