<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <title>List student</title>
</head>
<body>
<!--~ fragment-->
<!--insert, include và replace-->
    <div th:insert="~{student/common_student :: headerStudent}">
</div>
    <h2 th:text="#{list.tilte}"></h2>
    <form action="/search" method="get">
        <input name="searchName">
        <button type="submit">Search By Name</button>
    </form>
<form action="" method="get">
    <select onchange="this.form.submit()" name="lang">
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="ja">Japan</option>
        <option value="vi">VietNam</option>
    </select>
<!--    <button type="submit" th:text="#{list.changeLanguage}"></button>-->
</form>
    <a href="/create">Create new student</a>
<!--    $ khi muốn lấy giá trị từ Controller-->
    <p style="color: green" th:text="${msg}"></p>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Id</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>Rank</th>
            <th>Class room</th>
            <th>Action</th>
        </tr>
        <tr th:each="studentObj,loop : ${studentList}">
            <td th:text="${loop.index + 1}"></td>
            <td th:text="${studentObj.id}"></td>
            <td th:text="${studentObj.name}"></td>
            <td th:text="${studentObj.dateOfBirth}"></td>
            <td th:switch="${studentObj.gender}">
                <span th:case="0">Female</span>
                <span th:case="1">Male</span>
                <span th:case="*">None</span>
            </td>

            <td>
                <span th:if="${studentObj.grade <= 4}">Bad</span>
                <span th:if="${studentObj.grade > 4 && studentObj.grade <= 7}">Good</span>
                <span th:if="${studentObj.grade > 7}">Ver good</span>
            </td>
            <td th:text="${studentObj.classRoom.nameClass}"></td>
<!--            @ sử dụng cho đường dẫn URL -> Giúp sử dụng các biểu thức khác trong URL-->
            <td>
                <a th:href="@{/detail/{idStudent}(idStudent=${studentObj.id})}">Detail student PV</a>
                <a th:href="@{/addTalk/{idStudent}(idStudent=${studentObj.id})}">Add Talk List</a>
            </td>
        </tr>
    </table>

    <div th:replace="~{student/common_student :: footerStudent}">
    </div>
</body>
</html>
