*{
    box-sizing: border-box;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
body{

}
.nav-item a span{
    text-decoration: none;
}
.panel1 a{
    text-decoration: none;
    margin-left: 20px;
}
.text1{
    display: flex;
}
.text1 a{
    text-decoration: none;

}
